
.auth-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
  overflow: hidden;
}


.auth-left {
  flex: 1.8;
  background-color: #17a2b8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-left img {
  max-width: 375px;
  height: auto;
}

.auth-welcome {
  text-align: center;
}

.auth-welcome h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 38.59px;
}

.auth-welcome p {
  font-size: 19.29px;
  font-weight: 400;
  line-height: 38.59px;
}


.auth-right {
  flex: 1;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 600px;
}

.auth-right h2 {
  font-size: 33.08px;
  font-weight: 600;
  text-align: left;
  color: #343434;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  position: relative;
  margin-bottom: 30px; 
}


.form-group input {
  width: 493px;
  height: 55px;
  padding-left: 40px;
  border-radius: 11px;
  border: 1.38px solid #d0d0d0;
  background: #ffffff;
  color: #343434;
  margin-bottom: 10px;
}

.icon-input {
  display: flex;
  align-items: center;
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 43%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


.toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.btn-auth {
  width: 100%;
  background-color: #17a2b8;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.2s ease-in-out;
  outline: none;
  border: 2px solid transparent; 
}

.btn-auth:hover {
  background-color: #007b89;
  border-color: #007b89;
}


.toggle-btn {
  background-color: #ffffff;
  color: #17a2b8;
  border: 2px solid #17a2b8;
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 55px;
  transition: all 0.2s ease-in-out;
}

.toggle-btn:hover {
  background-color: #f0f0f0;
}


.toggle-link {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #828282;
  text-align: center;
}


.form-group .input-error {
  margin-top: 5px;
}
.input-error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 12px;
  color: red;
  height: 16px; 
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.input-error.visible {
  visibility: visible;
  opacity: 1;
}
.general-error {
  text-align: left;
  color: red;
  font-size: 12px;
  margin-top: 10px; 
  min-height: 16px; 
}
