.board-container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
 
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

.board-header h2 {
  /* font-family: Poppins */
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #000000;
}

.board-header p {
  font-size: 14px;
  color: #828282;
}

.board-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
}

.board-title-name {
  display: flex;
}

.board-title h3 {
  /* font-family: Poppins; */
  font-size: 29px;
  font-weight: 500;
  color: #000000;
}

.add-people-btn {
  width: 102px;
  background-color: transparent;
  border: none;
  color: #707070;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  padding: 40px;
}


.board-columns {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden; 
  max-height: 100vh; 
  height: auto;
  box-sizing: border-box; 
}

.board-column {
  background-color: #EEF2F5;
  padding-left: 10px;
  border-radius: 8px;
  height: 70vh;
  min-width: 28%; 
  max-width: 28%; 
  flex: 1; 
  box-sizing: border-box;
  margin-bottom: 2%;
  overflow-y: auto; 
}

.board-column::-webkit-scrollbar {
  width: 12px; 
}

.board-column::-webkit-scrollbar-thumb {
  background-color: #8DAAB9CC;
  border-radius: 10px;
}

.board-column::-webkit-scrollbar-track {
  background-color: #D6EAF4;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.column-header h3 {
  font-size: 18px;
  color: #000000;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
 
}

.add-task-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
 
}

.add-task-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  
  position: relative;
  
  top: -5px;

}

.icon-btn:focus,
.add-task-btn:focus {
  outline: none;
 
}



.dropdown-container {
  position: relative;
  display: inline-block;
}

.this-week {
  font-size: 14px;
  color: #828282;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 50%;
  right: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  border-radius: 4px;
  z-index: 100;
}

.dropdown li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.dropdown li:hover {
  background-color: #f1f3f5;
}

.board-columns::-webkit-scrollbar{
  background-color: #f1f3f5;
  height: 10px;
}

.board-columns::-webkit-scrollbar-thumb{
  background-color: #9CB7C5;
  border-radius: 10px;
}

.board-columns::-webkit-scrollbar-track{
  background-color: #ffffff;
}





